/* styles.css */
@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
body {
  background: rgba(255, 255, 255, 0.521);
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}
.logo {
        float: right;
        margin-left: 0px; /* ajustez la valeur de la marge selon vos besoins */
}
.page {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 30px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner { 
  border: 0; 
}
#submit {
  color: #707075;
  margin-top: 40px;
  transition: color 300ms;
}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}

/* Utilisez Grid pour diviser l'écran en 4 parties carrées */
body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 92vh;
  margin: 0%;
}

/* Donne à chaque partie une couleur différente et stylée */
.partie {
  position: relative;
  overflow: hidden;
}

.partie:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#partie1:before {
  background-color: rgb(204, 255, 242);
  transform: rotate(180deg);
  height: calc(100%);
  width: calc(100%);
  margin: 0%;
}

#partie2:before {
  background-color: rgb(255, 204, 229);
  transform: skewY(180deg);
  height: calc(100%);
  width: calc(100%);
  margin: 0%;
}

#partie3:before {
  background-color: rgb(229, 204, 255);
  transform: skewX(180deg);
  height: calc(100%);
  width: calc(100%);
  margin: 0%;
}

#partie4:before {
  background-color: rgb(204, 229, 255);
  transform: rotate(180deg);
  height: calc(100%);
  width: calc(100%);
  cursor: pointer;
  margin: 0%;
}

/* Supprime les bordures entre les parties */
#partie1, #partie2 {
  border-right: none;
  display: flex;
  justify-content: center;
  padding-top:  10px;
}

#partie1, #partie3 {
  border-bottom: none;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

#partie2, #partie4 {
  border-bottom: none;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

#partie3, #partie4 {
  border-right: none;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

#boutonMenu1 {
  color: rgb(0, 0, 0);
  cursor: pointer;
  height: calc(10%);
  width: calc(20%);
  background-color: transparent;
  margin: 2px;
  border-color: #000000;
  font-weight: bold;
  border-radius: 12px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

#boutonMenu2 {
  color: rgba(0, 0, 0);
  cursor: pointer;
  height: calc(10%);
  width: calc(20%);
  background-color: transparent;
  margin: 2px;
  border-color: #000000;
  font-weight: bold;
  border-radius: 12px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

#boutonMenu3 {
  color: rgba(0, 0, 0);
  cursor: pointer;
  height: calc(10%);
  width: calc(20%);
  background-color: transparent;
  font-weight: bold;
  margin: 2px;
  border-color: #000000;
  font-weight: bold;
  border-radius: 12px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

#boutonMenu4 {
  color: rgba(0, 0, 0);
  cursor: pointer;
  height: calc(10%);
  width: calc(20%);
  background-color: transparent;
  margin: 2px;
  border-color: #000000;
  font-weight: bold;
  border-radius: 12px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.2);
}
/* Add styles here to customize the appearance of your app */
